$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 40px;

$max-width: 1150px;

$font-family: 'Golos', Arial, sans-serif;

$tablet: 720px;
$desktop: 1024px;
